h1{
    color: black;
}
.textCenter{
    font-family: Georgia;
}
.textLeft{
    text-align: center;
}
#text_right{
    color: red;
}
.textRight{
    color:green;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
  
.hero-image {
    background-image: url("./back.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
}
img{
    display: block;
    float: right;
    position: absolute;
}

#link-text {
    left: 70%;
}
.about-text {
    left: 10%;
}




