h1{
    color: black;
}
.textCenter{
    font-family: Georgia;
}
.textLeft{
    text-align: center;
}
#text_right{
    color: red;
}
.textRight{
    color:green;
}
body{
    background-color:white
}
img {
    display: block;
    height: auto;
    float: auto;
    margin: 8px;
  }

