h1{
    color: black;
}

body {
    margin: 20px;
    font-family: Calibri;
    background-color: lightblue;
}
  
.hero-image {
    background-image: url("./images/back.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text {
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
}
#profile-content{
    float: right;
    border-radius: 8px;
    width: 50%;
}
#link-text {
    left: 70%;
}
.about-text {
    left: 10%;
}
a{
    font-family: Calibri;
    font-weight: bold;
}




